[submodule "src/logger"]
	path = src/logger
	url = https://github.com/brano-san/Logger.git
	branch = master
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
	branch = main
[submodule "tests/third_party/googletest"]
	path = tests/third_party/googletest
	url = https://github.com/google/googletest
	branch = main
